.scene {
  width: 2.5in;
  height: 3.5in;
  perspective: 600px;
  &_card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    border: 1px solid #000;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    &--front-side,
    &--back-side {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &--back-side {
      transform: rotateY(180deg);
    }
  }
}

.scene_card.is-flipped {
  transform: rotateY(180deg);
}
