@import url("https://css.gg/card-diamonds.css");

:host {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: baseline;

  .title-icon {
    color: #fff;
    transform: rotate(25deg);
    color: orangered;
  }

  h1 {
    margin: 0;
    margin-bottom: 15px;
  }
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;
}
