@import "../shared/variables";

:host {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 25px;

  a {
    background-color: $nav;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
  }
}
