@import url("https://css.gg/arrow-left-r.css");
@import url("https://css.gg/arrow-right-r.css");
@import url("https://css.gg/add.css");
@import url("https://css.gg/pen.css");

@import "../../shared/variables";

h2,
p {
  color: #fff;
}

.gg-pen {
  margin-left: 4px;
}

i {
  color: #fff;
}

nav.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-bottom: 10px;
  a {
    background-color: transparent;
    padding: 0;
    &.active {
      button {
        i {
          color: $nav;
        }
        border-color: $nav;
        color: $nav;
      }
    }
  }
  button {
    background-color: transparent;
    color: #fff;
    border: 0;
    font-size: 1rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    border: 2px solid #fff;
    border-radius: 6px;
    padding: 0.2rem 0.3rem;
    height: 33px;
    cursor: pointer;
    transition: border 0.2s linear, color 0.2s linear;

    i {
      transition: color 0.2s linear;
    }
    &:hover {
      i {
        color: $nav;
      }
      border-color: $nav;
      color: $nav;
    }
  }
}

@media screen and (max-width: 360px) {
  nav.options {
    a {
      button {
        font-size: 12px;
      }
    }
  }
}
