<h2>Deck name: {{deck?.name | uppercase}}</h2>
<nav class="options">
  <button><i class="gg-add"></i> Add card</button>
  <button><i class="gg-pen"></i> Edit deck</button>
  <button *ngIf="cards.length"><i class="gg-card-diamonds"></i> Edit card</button>
</nav>

<router-outlet></router-outlet>

<nav *ngIf="cardId && cards.length" class="card-navigation">
  <div>
    <button class="btn previous" *ngIf="hasPreviousCard()" (click)="navigatePreviousCard()"><i class="gg-arrow-left-r"></i></button>
  </div>
  <div>
    <button class="btn next" *ngIf="hasNextCard()" (click)="navigateNextCard()"><i class="gg-arrow-right-r"></i></button>
  </div>
</nav>
