<form #form="ngForm">
  <div class="form-field">
    <label for="name">Deck name:</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="formValue.name"
      #name="ngModel"
      required
    />
    @if (name.errors && (name.dirty || name.touched)) {
    <div class="field-feedback">
      @if (name.errors['required']) {
      <p>Deck name is required</p>
      }
    </div>
    }
  </div>
  <button [disabled]="!form.valid" type="button" (click)="submit(form)">
    {{ btnLabel }}
  </button>
</form>
