@import "../../shared/variables";

form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  label {
    display: block;
    margin: 5px 0px;
  }

  input[type="text"] {
    width: 100%;
  }
  button[type="button"] {
    margin-top: 10px;
    background-color: $nav;
    color: #fff;
    border: 0;
    padding: 7px;
    border-radius: 5px;
    font-size: 0.9rem;
    align-self: flex-end;
    cursor: pointer;
    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }
  .field-feedback {
    color: red;
    font-size: 0.8rem;
  }
}
