@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import './shared/variables';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: "Lato", sans-serif;
}

h1 {
  color: $text;
}

a {
  text-decoration: none;
  color: $nav;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 1.1rem;

  &:hover {
    color: $nav;
  }
  &:active {
    color: $nav;
  }
  &:visited {
    color: $nav;
  }
}
