@import '../../shared/variables';

h3 {
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  position: relative;
}

span.badge {
  padding: 6px 10px;
  background-color: $nav;
  color: #fff;
  text-align: center;
  margin-left: -10px;
}
span.name {
  margin-left: 5px;
}
