@use "../../shared/variables" as *;

h3 {
  color: #fff;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

a {
  position: relative;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
}

span.badge {
  padding: 6px 10px;
  background-color: $nav;
  color: #fff;
  text-align: center;
  margin-left: -10px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
span.name {
  margin-left: 5px;
}

.not-found {
  color: #fff;
  a {
    padding: 0;
    background-color: transparent;
  }
}
